html, body {
  height: 100%;
}

#app {
  height: inherit;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
}

.notes-section {
  width: 500px;
  background-color: rgb(230, 230, 230);
}

.columns {
  width: 100%;
}

.notes, .timestamps {
  padding: 5px 0px;
  text-decoration: underline;

  
}
.has-text-centered{
  margin-right: 5px;
  border: 1px solid black;
  background-color: rgb(204, 235, 204);
}
strong{
  text-decoration: underline;
}

.note-count {
  margin-top: 48px;
  border-radius: 5px;
}